@import url(Header.css);

:root{
--cor-de-fundo: black;
--cor-cabecalho: #FFFFFF;
}

body{
background-color: var(--cor-de-fundo);
margin: 0;
}
.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }

    .container_imagem, .container_frase{
    padding: 1em;
    }
    .container_titulo, .container_frase{
    display: block !important;
    font-size: 30px;
    font-weight: bold;
    }

